body {
    font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
    color: #212121;
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.015);
    display: block;
}

* {
    box-sizing: border-box;
}

.base {
    position: relative;
    height: 100%;
    background: #fff url('Photos/Background.jpg') fixed center;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.base-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.base main {
    position: relative;
    padding-top: 0px;
    padding-bottom: 60px;
    margin-top: 10px;
    min-height: 500px;
    flex: 1 0 auto;
}

.base header {
    display: flex;
    flex-flow: row nowrap;
    padding: 25px 0px;
}

.base header .logo {
    position: absolute;
    align-self: start;
}

.base header .nav-placeholder {
    display: flex;
    flex-flow: column nowrap;
    justify-self: center;
}

.base header .nav-placeholder section:nth-child(1) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.base header .nav-placeholder section nav>ul {
    float: right;
}

.base header .nav-placeholder section nav>ul>li {
    position: relative;
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 1.2em;
}

.base header .nav-placeholder section nav>ul>li a {
    display: block;
    background-color: #ffcc80;
    box-shadow: 0 0 3px rgb(0,0,0,0.1);
    border-radius: 0.7em;
    font-size: 17px;
    font-weight: 350;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.base header .nav-placeholder section nav>ul>li.dropdown a{
    background-color:white;
    box-shadow: none;
}

.base header .nav-placeholder section nav>ul>li a:hover,
.dropdown-content a:hover,
.dropdown:hover .dropbtn {
    background-color: #d7ccc8;
    color: #795548;
}


.base header .nav-placeholder section nav>ul>li a.active {
    background-color: #f27d1c;
    color: white;
}

a {
    position: relative;
    padding: 0 0 2px;
    color: black;
    text-decoration: none;
}

.base main h2 a {
    color:#f27d1c;
}

.base main h1 {
    position: relative;
    text-align: center;
    font-size: 3em;
    letter-spacing: -1px;
}

.base main .events {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.base main .events .event-card {
    position: relative;
    background: #fff;
    border-radius: 0.8em;
    box-shadow: 0 0 3px rgb(0,0,0,0.1);
    width: 100%;
    margin: 0 0 20px;
}

.base main .events .event-card img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    border-bottom: 1px solid #f1f1f1;
}

.base main .events .event-card h2 {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 1.5em;
    margin-bottom: 6px;
    line-height: 1.5em;
    padding: 0px 20px 0px;
}

.base main .events .event-card .dateTime {
    position: absolute;
    right: 10px;
    top: 110px;
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 30%;
    border: 1px solid #f8ece0;
    text-align: center;
    color: #212121;
    background: linear-gradient(to top, #f8ece0, #fff);
    padding: 10px 0 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.06);
}

.base main .events .event-card .dateTime span {
    display: block;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
}

.base main .events .event-card .article-nav {
    padding: 15px 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.base main .events .event-card .btn.btn-sm {
    font-size: .9em;
    padding: 10px 10px;
    line-height: 0.7em;
}

.base main .events .event-card .btn {
    display: inline-block;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 6px 16px;
    border-radius: .25em;
    border: 1px solid transparent;
    color: grey;
    background-color: #f1f1f1;
    border: 3px solid transparent;
    box-shadow: 0 0 1px rgb(0,0,0,0.1);
}

.base main .events .event-card .btn :hover {
    color: orangered;
    opacity: 0.5;
}

.base main .events .event-card .location {
    padding: 0 20px 10px;
    font-size: .9em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.base main .events .event-card .summary {
    padding: 0 20px 10px;
    font-size: .9em;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 80px;
}

.base main .tags {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    margin-left: 30px;
    margin-right: 30px;
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}

@keyframes slide-in-blurred-bottom {
    from {
        transform: translateY(1000px);
        transform-origin: 50% 100%;
        filter: blur(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
  }

.slide-in-bottom-animation {
    animation: slide-in-blurred-bottom 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.fade-animation {
    animation: fade-in 1.4s;
} 

.animated-card {
    opacity: 0;
}

.base main .tags .tag-card {
    align-items: center;
    border-radius: 100%;    
    box-shadow: 0 0  rgb(0,0,4,0.1);
    width: 200px;
    height: 200px;
    background-color: transparent;
    perspective: 1000px;
}

.base main .tags .tag-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.base main .tags .tag-card-front, .tag-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
 }

.base main .tags .tag-card:hover .tag-card-inner {
    transform: rotateY(180deg);
  }

.activa {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(207, 200, 1); /* Fallback color */
    background-color: rgb(210, 105, 30, 0.4); /* Black w/opacity/see-through */
    transform: rotateY(180deg);
    border: 3px solid #f1f1f1;
}

.base main .tags .tag-card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:100%;
    background-color: rgb(207, 200, 1); /* Fallback color */
    background-color:  rgb(210, 105, 30, 0.4); /* Black w/opacity/see-through */
    transform: rotateY(180deg);
    border: 3px solid #f1f1f1;
}

.base main .tags .tag-card-back span {
    color:white;
}

.base main .tags .tag-card-front {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius:100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.base main .tags .tag-card h3 {  
    align-self: center;
    color:white;

}


.dropdown-content .dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.base header .nav-placeholder section nav>ul .dropbtn {
    background-color: transparent;
    box-shadow: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color:white;
    border-radius: 1em;
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
    right: 0;   
}

.dropdown-content i {
    color:black;
}

.dropdown-content a {
    color: black;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    display: block;
    align-content: center;
    justify-content: space-between;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.heart {
     border: none;
     position: absolute;
     left: 90%;
     top: 3%;
     opacity: 1;

}
.fa-heart {
    color: red; 
}

.heart {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    width: 50px;
    position: absolute;
     left: 83%;
     top: 3%;
     display: none;
  }
  .event-card:hover .heart {
      display: block;
  }

@media (min-width: 200px) {
     .base header .nav-placeholder section:nth-child(1) {
        margin-top: 90px;
        margin-bottom: -50px;
    }
}

@media (min-width: 576px) {
    .base-container {
        max-width: 540px;   
    }

    .base header .nav-placeholder section:nth-child(1) {
        margin-top: 90px;
        margin-bottom: -50px;
    }
}

@media (min-width: 600px) {
    .base main .events .event-card {
        max-width: 250px;
    }
    
    .base main .events {
        justify-content: space-between;
    }    
    
    .base main .tags {
        justify-content: space-between;
    }

    .base header .nav-placeholder section:nth-child(1) {
        margin-top: 90px;
        margin-bottom: -50px;
    }
}

@media (min-width: 768px) {
    .base-container {
        max-width: 720px;
    }

    .base main .events .event-card {
        max-width: 330px;
    }
    
    .base header .nav-placeholder {
        width: 100%;
        margin: 0 0 0 40px;
    }

    .base header .nav-placeholder section nav {
        display: block;
        width: 100%;
    }
}


@media (min-width: 992px) {
    .base-container {
        max-width: 960px;
    }
    
    .base main .events .event-card {
        max-width: 290px;
    }
}

@media (min-width: 1200px) {
    .base-container {
        max-width: 1140px;
    }
    
    .base main .events .event-card {
        max-width: 350px;
    }
}